services:
  init-terraform:
    build: "deployUtils/InitializeTerraform/"
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
      - AWS_REGION=${AWS_REGION:-eu-central-1}
      - DEVMODE
